<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShowLine</key>
		<true/>
		<key>isSelected</key>
		<false/>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>基本信息</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>客户</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请输入客户姓名</string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>证件类型</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请输入证件类型</string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>证件号码</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请输入证件号码</string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>客户邮箱</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请输入客户邮箱</string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isLast</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isShowLine</key>
		<true/>
		<key>isSelected</key>
		<false/>
		<key>title</key>
		<string>认购信息</string>
		<key>subtitle</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>打款日期</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请选择打款日期</string>
				<key>isClicked</key>
				<true/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>认购金额</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string>请输入认购金额</string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isShowLine</key>
		<true/>
		<key>isSelected</key>
		<true/>
		<key>title</key>
		<string>银行卡信息</string>
		<key>subtitle</key>
		<string>请选择银行卡</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>银行卡号</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>开户银行</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>归属地</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>所属支行</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isLast</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isSelected</key>
		<false/>
		<key>isShowLine</key>
		<false/>
		<key>title</key>
		<string>上传附件</string>
		<key>subtitle</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>客户身份证人像面</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>img</key>
				<data></data>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>客户身份证国徽面</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>img</key>
				<data></data>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>交易凭证</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<false/>
				<key>img</key>
				<data></data>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>合同签字页</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>img</key>
				<data></data>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>资产证明</string>
				<key>isMust</key>
				<true/>
				<key>text</key>
				<string></string>
				<key>placeText</key>
				<string></string>
				<key>isClicked</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>img</key>
				<data></data>
			</dict>
		</array>
	</dict>
</array>
</plist>
