<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>key</key>
			<string>真实姓名</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请填写姓名</string>
		</dict>
		<dict>
			<key>key</key>
			<string>性别</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择性别</string>
			<key>data</key>
			<array>
				<string>女</string>
				<string>男</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>手机</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请填写手机</string>
		</dict>
		<dict>
			<key>key</key>
			<string>证件类型</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择证件类型</string>
			<key>data</key>
			<array>
				<string>身份证</string>
				<string>驾驶证</string>
				<string>学生证</string>
				<string>小学生肄业证</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>证件号码</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入证件号码</string>
		</dict>
		<dict>
			<key>key</key>
			<string>紧急联系人</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入紧急联系人</string>
		</dict>
		<dict>
			<key>key</key>
			<string>紧急联系人电话</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入紧急联系人电话</string>
		</dict>
		<dict>
			<key>key</key>
			<string>紧急联系人关系</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入紧急联系人关系</string>
		</dict>
		<dict>
			<key>key</key>
			<string>出生日期</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>4</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择您的出生日期</string>
		</dict>
		<dict>
			<key>key</key>
			<string>年龄</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入年龄</string>
		</dict>
		<dict>
			<key>key</key>
			<string>血型</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择血型</string>
			<key>data</key>
			<array>
				<string>A型</string>
				<string>B型</string>
				<string>C型</string>
				<string>O型</string>
				<string>AB型</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>居住城市</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>您居住的城市</string>
			<key>data</key>
			<array>
				<string>北京</string>
				<string>上海</string>
				<string>广州</string>
				<string>南京</string>
				<string>深圳</string>
				<string>吉林</string>
				<string>黑龙江</string>
				<string>辽宁</string>
				<string>河北</string>
				<string>河南</string>
				<string>江西</string>
				<string>江苏</string>
				<string>山西</string>
				<string>山东</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>邮箱</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入联系邮箱</string>
		</dict>
		<dict>
			<key>key</key>
			<string>衣服尺寸</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择衣服尺寸</string>
			<key>data</key>
			<array>
				<string>S</string>
				<string>M</string>
				<string>L</string>
				<string>XL</string>
				<string>XXL</string>
				<string>XXXL</string>
				<string>MAX-X</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>学历</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请选择学历</string>
			<key>data</key>
			<array>
				<string>小学</string>
				<string>初中</string>
				<string>高中</string>
				<string>专科</string>
				<string>本科</string>
				<string>硕士</string>
				<string>博士</string>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>邮箱编码</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string>请输入邮政编码</string>
		</dict>
		<dict>
			<key>key</key>
			<string>完赛证明</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>3</integer>
			<key>must</key>
			<true/>
			<key>placeholder</key>
			<string></string>
			<key>imageData</key>
			<array>
				<data>56m6</data>
				<data>56m6</data>
				<data>56m6</data>
				<data>56m6</data>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>体检证明</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<integer>3</integer>
			<key>must</key>
			<false/>
			<key>placeholder</key>
			<string></string>
			<key>imageData</key>
			<array>
				<data>56m6</data>
				<data>56m6</data>
				<data>56m6</data>
				<data>56m6</data>
			</array>
		</dict>
	</array>
</dict>
</plist>
