<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>市场活动</string>
		<key>data</key>
		<array>
			<dict>
				<key>push</key>
				<integer>0</integer>
				<key>icon</key>
				<string>home_hdgl</string>
				<key>name</key>
				<string>活动管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>客户管理</string>
		<key>data</key>
		<array>
			<dict>
				<key>push</key>
				<integer>1</integer>
				<key>icon</key>
				<string>home_yygl</string>
				<key>name</key>
				<string>预约管理</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>2</integer>
				<key>icon</key>
				<string>home_gtjl</string>
				<key>name</key>
				<string>沟通记录</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>3</integer>
				<key>icon</key>
				<string>home_wdkh</string>
				<key>name</key>
				<string>我的客户</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>产品管理</string>
		<key>data</key>
		<array>
			<dict>
				<key>push</key>
				<integer>4</integer>
				<key>icon</key>
				<string>home_cpzx</string>
				<key>name</key>
				<string>产品中心</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>5</integer>
				<key>icon</key>
				<string>home_xxpl</string>
				<key>name</key>
				<string>信息披露</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>咨询学习</string>
		<key>data</key>
		<array>
			<dict>
				<key>push</key>
				<integer>6</integer>
				<key>icon</key>
				<string>home_mrfx</string>
				<key>name</key>
				<string>每日分享</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>7</integer>
				<key>icon</key>
				<string>home_cpxx</string>
				<key>name</key>
				<string>产品学习</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>8</integer>
				<key>icon</key>
				<string>home_hydj</string>
				<key>name</key>
				<string>行研洞见</string>
			</dict>
			<dict>
				<key>push</key>
				<integer>9</integer>
				<key>icon</key>
				<string>home_jcsj</string>
				<key>name</key>
				<string>精彩瞬间</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
