<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>常用人报名</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>我的积分</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>我的关注</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>我的照片</string>
		<key>isShowRightIcon</key>
		<false/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>关于野事儿</string>
		<key>isShowRightIcon</key>
		<false/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>RxSwift</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>SwiftDate</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>Alert</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>WCDB</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>isShowLineView</key>
		<true/>
		<key>icon</key>
		<string>im_friendList_select_selected</string>
		<key>title</key>
		<string>LockLock</string>
		<key>isShowRightIcon</key>
		<true/>
		<key>subtitle</key>
		<string></string>
		<key>to</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
